.single-review {
    border: 1px solid rgb(149, 148, 148);
    border-radius: 6px;
    padding: 10px;
    text-align: left;
    box-shadow: 2px 5px 12px gray;
}

.single-review h3 {
    margin-top: 25px;
}

.single-review span {
    color: rgb(249, 142, 1);
}

.single-review h5 {
    margin-top: 30px;
    font-weight: 500;
}